.cars {
  margin: 2em 2em 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
  float: left;
}
.cars tr {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.8em;
  border-radius: 4px;
}
.cars tr:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.cars tr.selected {
  background-color: #cfd8dc;
  color: white;
}
.cars tr.selected:hover {
  background-color: #bbd8dc;
  color: white;
}

td:nth-child(5) {
  text-align: center;
}

button.delete {
  background-color: gray !important;
  color: white;
}
